.form {
    display: block;
    position: absolute;
    border: 1px;
    border-style: solid;
    border-radius: 10px;
    width: 30%;
    height: 70%;
    text-align: center;
}
.form label {
    display: block;
}
.form .text_field {
    border-radius: 10px;
    width: 60%;
    margin: 5px;
}